doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1 Aquaura API
    ul
        li: a(href='/api/events') Events
        li: a(href='/api/teams' ) Teams
        li: a(href='/api/posts' ) Updates
    
    
    